{% extends 'base.html.twig' %}

{% block main %}

    <a class="ajout" href="{{ path('admin_insert_category') }}"> Ajouter une catégorie </a>
    <section class="categoryContainer">
        {% for category in categories %}
            <div class="bloc">
            {% if category %}
                {% if category.isPublished %}
                        <h1 style="color: {{category.color }}"> {{ category.title }}</h1>
                        <p> {{ category.description}} </p>
                            <a class="btn" href={{ path('admin_category', {'id': category.id }) }}> En savoir + </a>
                            <a class="btn" href={{ path('admin_delete_category', {'id': category.id }) }}> Supprimer </a>
                            <a class="btn" href={{ path('admin_update_category', {'id': category.id }) }}> Modifier </a>
            </div>
                {% else %}
                    <p> Cette catégorie n'est pas publié </p>
                {% endif %}
            {% else %}
                <p> Cette catégorie n'existe pas </p>
            {% endif %}

        {% endfor %}
</section>
{% endblock %}

{% block title %}

{% endblock %}

