{% extends 'base.html.twig' %}

{% block main %}
    <div class="bloc">

{#        {{ form(form) }}#}
        {{ form_start(form) }}
        <div class="form-group mx-sm-3 mb-2">
        {{ form_label(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_error(form.title) }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
        {{ form_label(form.content) }}
        {{ form_widget(form.content) }}
        {{ form_error(form.content) }}
        </div>
        <div class="form-group mx-sm-3 mb-2">
        {{ form_label(form.author) }}
        {{ form_widget(form.author) }}
        {{ form_error(form.author) }}
        </div>
        <div class="form-group mx-sm-3 mb-2"> {{ form_label(form.category) }} </div>
        <div>
        {{ form_widget(form.category) }}
        </div>
        {{ form_widget(form.submit, {'attr': {'class':'btn btn-primary mb-2' }}) }}
        </div>
        {{ form_end(form)}}
{% endblock %}

{% block title %}

{% endblock %}

