{% extends 'base.html.twig' %}

{% block main %}
    <div class="articlesContainer">
        {% for article in articles %}
            <article class="bloc">
                    {% if article %}
                        <h1>{{ article.title }}</h1>
                        <p>{{ article.content }}</p>
                        {#        <img src="{{ article.image }}" alt=" Image des articles">#}
                        {#        <p>Publié le : {{ article.publishedAt | date("m/d/Y")}}</p>#}
                        <p>Auteur : {{ article.author }}</p>
                        {% if article.category %}
                            <p> Catégorie:  {{ article.category.title }}</p>
                        {% else %}
                            <p>Cet article n'a pas de catégorie</p>
                        {% endif %}
                        <a class="btn" href={{ path('admin-article', {'id': article.id }) }}> En savoir + </a>
                        <a class="btn" href={{ path('admin-delete-article', {'id': article.id }) }}> Supprimer </a>
                        <a class="btn" href={{ path('admin-update-article', {'id': article.id }) }}> Modifier </a>
                    {% else %}
                        <p> Cet article n'existe pas </p>
                    {% endif %}
            </article>
        {% endfor %}
    </div>
    <section class="categoryContainer">
        {% for category in categories %}
            <div class="bloc">
            {% if category %}
                    <h1 style="color: {{category.color }}"> {{ category.title }}</h1>
                    <p> {{ category.description}} </p>
                    <a class="btn" href={{ path('admin_category', {'id': category.id }) }}> En savoir + </a>
                    <a class="btn" href={{ path('admin_delete_category', {'id': category.id }) }}> Supprimer </a>
                    <a class="btn" href={{ path('admin_update_category', {'id': category.id }) }}> Modifier </a>
                    </div>
                {% else %}
                    <p> Cette catégorie n'est pas publié </p>
                {% endif %}
        {% endfor %}
    </section>
{% endblock %}


